body {
    background: #b4b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #434343;
}
.App {
    background: white;
    width: 860px;
    height: 560px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
}
.valve-list {
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.valve {
    margin: 10px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #b4b3b3;
}
.valve:hover {
    background-color: #b4b3b3;
}
.current {
    background-color: darkslategrey;
    color: white;
    border: 1px solid darkslategrey;
}
.current:hover {
    background-color: darkslategrey;
    cursor: default;
}
.image-div {
    min-width: 400px;
    margin: 10px;
    height: 300px;
}
li {
    list-style-type: none;
}
img {
    width: 400px;
    border-radius: 10px;
}
